@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewData["Title"] = "guardarPacienteAVL";
}

<h1>Paciente Registrado en el sistema</h1>

<label>Fecha y hora de reguistro: </label> @DateTime.Now


<div>
    <a asp-action="Index">Back to Home</a>
</div>

