@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><u>Bienvenido</u></h1>
    <br />
    <h1 class="display-4">Clinica Mental "Mente Sana"</h1>

</div>

<html>
<body>
    <table class="table table-border">
        <thead>
            <tr>
                <td style="text-align:center">
                    <div class="col-md border border-dark cointener bg-info">
                        <div>
                            <br></br>
                            <label class="text-black"><H2>Registrar paciente</H2></label>
                            <br></br>
                            <a class="button text-white btn btn-success" asp-action="recibirManualAVL">Registrar aqui</a>
                            <br></br>
                        </div>
                    </div>
                </td>
                <td style="text-align:center">
                    <div class="col-md border border-dark cointener bg-info">
                        <div>
                            <br></br>
                            <label class="text-black"><H2>Ver Registro de pacientes</H2></label>
                            <br></br>
                            <a class="button text-white btn btn-success" asp-action="mostrarArbolAVL">Ver aqui</a>
                            <br></br>
                        </div>
                    </div>
                </td>

            </tr>
        </thead>
    </table>

</body>
</html>